.mat-sidenav-container {
    background: rgba(0, 0, 0, 0.08);
  }
  
  .blank-grow {
    flex: 1 1 auto;
  }

  button {
    color: white;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }

  mat-nav-list {
    width: 300px;
  }

  .links {  
    margin-left: 25px;
  }

  .nav-button {
    font-size: 18px;
    padding: 0px 30px 0px 30px;
  }

  .nav-button:hover {
    color: #4e9f3d;
    transition: 0.5s;
  }
  