.mat-sidenav-container {
    background: rgba(0, 0, 0, 0.08);
  }
  
  .blank-grow {
    flex: 1 1 auto;
  }

  button {
    color: white;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }

  mat-nav-list {
    width: 300px;
  }