<mat-toolbar style="background-color: #191a19">
  <div>
    <p class="mat-headline-5" style="margin-top: 20px">
      <span>MOVIES </span><span style="color: #4e9f3d"> HUB</span>
    </p>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/movies">Movies</a>
      </li>
      <li>
        <a routerLink="/actors">Actors</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
