<mat-card>
  <mat-card-header>
    <mat-card-title>{{ movie.titleText.text }}</mat-card-title>
    <mat-card-subtitle
      >Release year: {{ movie.releaseYear.year }}</mat-card-subtitle
    >
  </mat-card-header>
  <img
    mat-card-image
    src="{{ movie.primaryImage.url }}"
    alt="{{ movie.primaryImage.caption.plainText }}"
  />
  <mat-card-content> </mat-card-content>
  <mat-card-actions>
    <span class="spacer"></span>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="'/movie/' + movie.id"
    >
      Check
    </button>
  </mat-card-actions>
</mat-card>
